################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/WebAppCodeFirst
/packages
/WebAppCodeFirst/bin
/WebAppCodeFirst/obj/Debug
